[Unit]
Description=Run sync-iptv on schedule (UTC)

[Timer]
OnCalendar=Mon..Fri *-*-* 14:00:00 UTC
OnCalendar=Sat,Sun *-*-* 09:00:00 UTC
Persistent=true

[Install]
WantedBy=timers.target